.awssecret
.bash_logout
.bashrc
.cache/
.dbshell
.gem/
.heroku/
.irb-history
.lesshst
.mongorc.js
.profile
.rvm/
.ssh/
.viminfo
.vim/netrwhist
.vim/doc/tags
.zcompdump
.zsh-update
.zsh_history
nginx.conf
projects/
properties.bson
src/
tmp

.ievms/
.sync.db-journal
.vim/.VimballRecord
.vim/doc/command-t.txt
.vim/plugin/
.vim/ruby/
.xwmmidnrc
.zcompdump-Step's MBP-4.3.11
bin/
sicp.rkt

 - Conflict*
-
-wq.txt
.AB64CF89
.B.blend
.Blog
.CFUserTextEncoding
.DS_Store
.MinecraftStructurePlanner/
.Xauthority
.asadminpass
.asadmintruststore
.autotest
.bash_history
.bash_profile.macports-saved_2011-06-09_at_21:56:23
.bundler/
.config/
.cups/
.cvspass
.databases
.dropbox/
.eclipse_keyring
.fastri-index
.fog
.fontconfig/
.fonts.cache-1
.gdb_history
.gitk
.heroku.tar.gz
.imagineer_log.txt
.irb_history
.itmstransporter/
.mailcap
.mime.types
.mono/
.mysql_history
.netrc
.npm/
.org.eclipse.epp.usagedata.recording.userId
.pow
.preexec.bash
.psql_history
.recently-used.xbel
.recipes/
.rnd
.serverauth*
.sh_history
.showoffrc
.sqlite_history
.ssh.tar.gz
.subversion/
.sync.db
.vagrant.d/
.virtualenvs/
.vuescanrc
.zhistory
Applications (Parallels)/
Applications/
Cinemascope Sheet.pdf
Desktop/
Documents/
Downloads/
Dropbox/
ENV/
Games/
Google Drive/
"Icon\r"
Library/
Licences/
Movies/
Moviestorm/
Music/
Pictures/
Portfile
Poster.jpg
Public/
Scripts/
Sites/
Sound Design.brain
The Big Book of Font Combinations.pdf
The Priest's Daughter.brain
VirtualBox VMs/
aba.sql
aba1.sql
aba_js_com_development.sql
aba_js_com_production.sql
booker.sql
bsac.sql
bsac.tar.gz
busted.sql
certs/
chef-repo/
cookies.txt
cookies_local.txt
dev
df.sh
diff.txt
ec2-api-tools-1.3-30349/
ec2-keypair.pem
g.txt
hosts-powder.bak
htmldoc_gem_patch.txt
ip
iron.json
j.com.sql
js.com.sql
js_com.sql
knife.rb
logo.gif
lum.sql
maya.oar
mbox
mongodb-linux-x86_64-1.6.2.tgz
myports.txt
npm-debug.log
nvrambak.tgz
opensimstartup.sh
q
rails-templates/
rake.gemspec
replicant_development.sql
response.html
sac.tar.gz
software.php
spot-a-cop.sql
step-server.zsh-theme
stephenaument-validator.pem
stephenaument.pem
stepkey.pem
tmp_rsa
tmp_rsa.pub
www/
