.awssecret
.bash_logout
.bashrc
.cache/
.dbshell
.gem/
.heroku/
.irb-history
.lesshst
.mongorc.js
.profile
.rvm/
.ssh/
.viminfo
.zcompdump
.zsh-update
.zsh_history
nginx.conf
projects/
properties.bson
src/
tmp
