[user]
	name = Stephen Aument
	email = step@stephenaument.com
[alias]
	unadd = reset HEAD
	unstage = reset HEAD --
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
  c = config --global color.ui true
[core]
	editor = vim
[github]
	user = stephenaument
[heroku]
	account = work
[color]
	ui = true
